body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}

#form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
    color: rgb(238, 145, 46);
    border: 1px solid rgb(238, 145, 46);
    background-color: white;
    padding: 6.9px 10px;
    transition: background-color 0.42s;
}

.button:hover {
    background-color: rgb(238, 145, 46);
    color: white;
}

input, select {
    padding: 3px;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2px;
}

input:focus, select:focus {
    border: 2px solid #555;
    outline: none;
}